.All{
    top: 4px;
    background-color: rgb(48, 50, 51);
}
.head{
    height: 30px;
    width: 100%;
}
.head1{
    float: left;
    height: 20px;
    width: 60px;
}
.text{
    height: 20px;
   
    font-style: normal;
    list-style: none; 
    font-weight: 0px;
    font-size: 15px;
}
.body{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 100%;
    margin: 9%;
}
.A{
    width: 80%;
    height: 180px;
}
.a{
    position: absolute;
    top:320px;
    left:550px;

}
.a1{
    position: absolute;
    top:320px;
    left:200px;
    background-image: url(./../书1.png);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}

.a2{
    height:50px;
    position: absolute;
    top:430px;
    left:1300px;
    float:right;
}

.B{
    width: 80%;
    height: 180px;
}
.b{
    position: absolute;
    top:530px;
    left:550px;
    
}
.b1{ position: absolute;
    top:550px;
    left:200px;
    background-image: url(./../礼服.JPG);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}
.b2{
    position: absolute;
    left:1300px;
    top:660px;
    height:30px;
    
}

.C{
    width: 80%;
    height: 180px;
}
.c{
    position: absolute;
    top:740px;
    left:550px;

}

.c1{ position: absolute;
    top:740px;
    left:200px;
    background-image: url(./../鞋子.JPG);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}
.c2{
    position: absolute;
    left:1300px;
    top:900px;
    height:30px;
   
}

.D{
    width: 80%;
    height: 180px;
}
.d{
    position: absolute;
    top:960px;
    left:550px;
}
.d1{ position: absolute;
    top:960px;
    left:200px;
    background-image: url(./../书.JPG);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}
.d2{
    position: absolute;
    left:1300px;
    top:1120px;
    height:30px;
}

.E{
    width: 80%;
    height: 180px;
}
.e{
    position: absolute;
    top:1190px;
    left:550px;
}
.e1{ position: absolute;
    top:1200px;
    left:200px;
    background-image: url(./../日常衣服.JPG);
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
}
.e2{
    position: absolute;
    left:1300px;
    top:1350px;
    height:30px;
}


.footer {
    width: 100;
     height: 100px;
     background-color: dimgrey;
    opacity: 0.5;
    position: relative;
                      top: 10px;
                  }
                  .copyright {
                    font-family: "宋体";
                    color: rgb(63, 46, 46);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);  /* 使用css3的transform来实现 */
                    height: 60px;
                    width: 40%;
                    text-align:center;
                  }
                  .icon1 {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    margin-left: 22px;
                    vertical-align: middle;
                   
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    margin-right: 5px;
                  }
                  .icon2 {
                    display: inline-block;
                    width: 24px;
                    height: 28px;
                    margin-left: 22px;
                    vertical-align: middle;
                    
                    background-repeat: no-repeat;
                    vertical-align: middle;
                    margin-right: 5px;
                  }
                  .p {
                    height: 24px;
                    width: 100%;
                  }
